<%- include("./partials/header") %>
<center><a href="https://placements4u.github.io/Placement/index.html"><img src="logo.png"></a></center>
<div class="container mt-5">
    <center><h1>Welcome to Feedback portal!</h1>
        <h3>Let's Start</h3>
    <a href="/feedback" class="btn btn-primary">Rate Us</a>
</div>

<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(10, 10, 10, 0.2);
    position: fixed; width: 100%;  bottom: 0; left: 0;">
      Placements4u© <script>document.write(new Date().getFullYear())</script> | Designed & Developed by 
      <a class="text-dark" href="http://www.kishankr.me/portfolio">Kishan</a>
    </div>
    <!-- Copyright -->
  </footer>

<%- include("./partials/footer") %>